.h1title {
	position: relative;
	margin-bottom: 1em;
	text-align: center;
}
.h1title:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 10%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #F06292;
	border-radius: 2px;
}


.movie, .wistia_responsive_padding{
	border-radius:20px;
	margin:50px;
	  box-shadow: 0 0 8px gray;

}

